// Your custom layout SCSS should be written here. It defines the overall page structure.
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";

//@include sticky-footer($sticky-footer-height, "#container-header-content", "#layout-footer", "#footer");
//Compass sticky footer mixin

/* ==========================================================================
  Page nav/content layout (rows and columns)
   ========================================================================== */

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; // I do NOT want hz scroll
  &.ngdialog-open {
    overflow: initial !important;
  }
}

body {
  height: inherit;
  min-height: 100%;
  overflow-y: initial; // avoid the double scroll
  padding: 0;
  //background: image-url("body_bg.gif") repeat-y scroll 50% 0 rgba(0, 0, 0, 0);
  &.ngdialog-open {
    //disable body scroll when dialog is open
    //overfow: hidden !important;
  }
}

#pagewrap {
  border-left: 1px solid $border-body;
  border-right: 1px solid $border-body;
  display: block;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: $row-max-width; //makin' it fixed!
}

#container-header-content {
  @include pie-clearfix;
  // &:after {
  //   clear: both;
  //   content: "";
  //   display: table;
  // }
}

// #pagewrap {
//   #layout-footer {
//     margin-top: 30px; //works with the sticky footer and gives top margin while keeping the footer in view when content is less than viewport height
//   }
// }

.container-branding {
  @include pie-clearfix;
}

.container-branding,
.container-content,
#header,
.container-form,
.container-route-main {
  display: block;
}

.container-route-main {
  width: 100%;
  > * {
    width: 100%;
  }
}

.container-form-application {
  width: 100%;
  > * {
    border-bottom: 1px solid $border-body;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}

#main,
#footer,
#header {
  @include rem(margin-left, $logo-horiz-margin);
}

#main,
#footer {
  @include rem(margin-right, $content-margin-right);
}

#main {
  display: block;
  @include pie-clearfix;
}

#subhead {
  position: relative;
  @include clearfix;
  @include rem(padding, 10px 0);
}

// h1.heading-page {
//   @include rem(margin, 0 0 0 $logo-width + ($logo-horiz-margin * 2));
//   .login & {
//     margin-left: 0;
//   }
// }

#footer {
  clear: left;
  margin-top: 60px;
  overflow-y: hidden;
  @include font-size($xsmall);
  * {
    @include font-size($xsmall);
  }
}

.container-content > * {
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
    padding-top: 0;
  }
}

#content {
  @include rem(margin-right, $gutter);
  width: ((100 * (9 / 12)) - $gutter-proportion) + %;
  & > *:last-child {
    margin-bottom: 0 !important; //attempt to control last element bottom margin
    & > *:last-child {
      margin-bottom: 0 !important;
      & > *:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  //@include rem(min-height, 385px);
}

#sidebar {
  width: (100 * (3 / 12)) + %;
}

#content,
#sidebar {
  float: left;
}

//modified layout for enrollment of completed applications
.status-not-inprogress {
  #form-container {
    display: none;
  }
  #sidebar,
  #content {
    width: 100%;
    float: none;
  }
  #sidebar {
    display: block;
    margin-bottom: 20px;
  }
}

#page {
  @include rem(margin, 0 20px);
  position: relative;
}

#nav-main {
  @include rem(width,
  $nav-main-width);
  float: left;
}

//TODO - this should go away for production
.sga-clear-token {
  position: absolute;
  left: -200px;
  bottom: 0;
  width: 200px
}
