<div id="container-header-content" class="sga-container container-header-content {{sgApp.pagePath | lowercase}}" ng-class="{'is-logged-in': sgApp.isLoggedIn, 'status-inprogress': sgApp.inProgress, 'status-not-inprogress': !sgApp.inProgress}" ng-show="sgApp.pageReady && sgApp.routeReady">    

  <sga-header id="header" class="header" routeconfig="sgApp.routeConfig" isloggedin="sgApp.isLoggedIn" pagetitle="sgApp.pageTitle" showtitle="sgApp.showPageTitle" inprogress="sgApp.inProgress" appid="sgApp.appdata.applicationId" groupor="sgApp.groupOR" groupak="sgApp.groupAK" user="sgApp.appdata.checkedOutBy" on-logout="sgApp.logout($event)" on-return-ser="sgApp.returnToSER($event)" on-delete-app="sgApp.deleteApp($event)" on-view-app="sgApp.viewApp($event)" on-set-manual="sgApp.setManualProcess($event)" app-status="sgApp.appdata.appStatus"></sga-header>

  <div class="sga-container container-main container-grid" id="main">

    <!-- layout not-in-progress -->
    <sidebar id="sidebar" class="sidebar" isloggedin="sgApp.isLoggedIn" appdata="sgApp.appdata" sidebarobj="sgApp.addToSidebarObj" groupor="sgApp.groupOR" groupak="sgApp.groupAK" ng-show="sgApp.displaySidebar" ng-if="!sgApp.inProgress"></sidebar>

    <ng-form novalidate name="sgApp.rootform" id="content" class="sga-container container-content">
      <messages id="messages" isloggedin="sgApp.isLoggedIn" class="sga-container container-messages"></messages>
      <ng-outlet class="sga-container container-route-main"></ng-outlet>
    </ng-form>

    <!-- layout in-progress -->
    <sidebar id="sidebar" class="sidebar" isloggedin="sgApp.isLoggedIn" appdata="sgApp.appdata" sidebarobj="sgApp.addToSidebarObj" groupor="sgApp.groupOR" groupak="sgApp.groupAK" ng-show="sgApp.displaySidebar" ng-if="sgApp.inProgress"></sidebar>

    <stepwise id="stepwise" class="navigation navigation-stepwise"></stepwise>

  </div>

  <div id="layout-footer"></div>
  
</div><!--#header-content-->

<div id="footer" class="footer" ng-bind-html="sgApp.footerContent" ng-show="sgApp.pageReady && sgApp.routeReady">
</div>

<iframe id="serframe" ng-src="{{::sgApp.serFrameUrl}}">
</iframe>
