<div id="container-header-content" class="sga-container container-header-content {{$ctrl.pagePath | lowercase}}" 
    ng-class="{'is-logged-in': $ctrl.isLoggedIn, 'status-inprogress': $ctrl.inProgress, 'status-not-inprogress': !$ctrl.inProgress}" 
    ng-show="$ctrl.pageReady && $ctrl.routeReady">    

  <sga-header id="header" class="header" route-config="$ctrl.routeConfig" is-logged-in="$ctrl.isLoggedIn" override-title="$ctrl.overrideDefaultTitle" page-title="$ctrl.pageTitle" show-title="$ctrl.showPageTitle" in-progress="$ctrl.inProgress" app-id="$ctrl.appData.applicationId" group-o-r="$ctrl.groupOR" group-a-k="$ctrl.groupAK" user="$ctrl.appData.checkedOutBy" on-logout="$ctrl.logout($event)" on-return-ser="$ctrl.returnToSER($event)" on-delete-app="$ctrl.deleteApp($event)" on-view-app="$ctrl.viewApp($event)" on-set-manual="$ctrl.setManualProcess($event)" app-status="$ctrl.appData.appStatus"></sga-header>

  <div class="sga-container container-main container-grid" id="main">

    <!-- layout not-in-progress -->
    <sidebar id="sidebar" class="sidebar" isloggedin="$ctrl.isLoggedIn" appdata="$ctrl.appData" sidebarobj="$ctrl.addToSidebarObj" groupor="$ctrl.groupOR" groupak="$ctrl.groupAK" ng-show="$ctrl.displaySidebar" ng-if="!$ctrl.inProgress"></sidebar>

    <ng-form novalidate name="$ctrl.rootform" id="content" class="sga-container container-content">
      <messages id="messages" isloggedin="$ctrl.isLoggedIn" class="sga-container container-messages"></messages>
      <!--<ng-outlet class="sga-container container-route-main"></ng-outlet>-->
      <div ui-view class="sga-container container-route-main"></div>
    </ng-form>

    <!-- layout in-progress -->
    <sidebar id="sidebar" class="sidebar" isloggedin="$ctrl.isLoggedIn" appdata="$ctrl.appData" sidebarobj="$ctrl.addToSidebarObj" groupor="$ctrl.groupOR" groupak="$ctrl.groupAK" ng-show="$ctrl.displaySidebar" ng-if="$ctrl.inProgress"></sidebar>

    <stepwise id="stepwise" class="navigation navigation-stepwise"></stepwise>

  </div>

  <div id="layout-footer"></div>
  
</div><!--#header-content-->

<div id="footer" class="footer" ng-bind-html="$ctrl.footerContent" ng-show="$ctrl.pageReady && $ctrl.routeReady">
</div>

<iframe id="serframe" ng-src="{{::$ctrl.serFrameUrl}}">
</iframe>
