<div class="tooltip-tipso-content tooltip-tipso-content-left tooltip-tipso-content-scroll">
  <p>For group health benefit plans purchased outside of the SHOP marketplace, this form must be completed for all new and renewing groups to determine whether a group qualifies as a small employer.</p>
  <p>Moda Health must treat an employer as a small employer if the employer has at least one but not more than 50 employees on average during the preceding calendar year and has at least one employee on the first day of the plan year. Controlled and Affiliated Groups:</p>
  <p>If you are a controlled or affiliated group of employers as described under subsection (b), (c), (m) or (o) of section 414 of the Internal Revenue Code of 1986, the carrier must treat the affiliated group as a single group and the affiliated group must fill out one group profile form.</p>
  <h4>Employee Counting Instructions:</h4>
  <ol>
    <li>Count each employee working 30 or more hours per week as 1 employee.</li>
    <li>Total the hours worked per week by all employees working less than 30 hours, and divide by 30. This is your Full Time Equivalent (FTE) count.</li>
    <li>Add the numbers from a and b together. This is your employee count.</li>
  </ol>
  <p>The counts for a and b above should be averages for the preceding calendar year. You can also use the FTE calculator at healthcare.gov: <a href="https://www.healthcare.gov/shop‐calculators‐fte/">https://www.healthcare.gov/shop‐calculators‐fte/</a>.</p>
  <p>An owner is generally not considered an employee even if the owner performs services for the business for compensation; however, an owner may participate in a small group plan1 as long as the group employs at least one common law employee. An owner includes:
  </p>
  <ul class="bulleted-list">
    <li>A sole proprietor and the sole proprietor's spouse;</li>
    <li>A member of a single‐member limited liability company and the member's spouse;</li>
    <li>The owner of a wholly owned corporation and the owner's spouse;</li>
  </ul>
  <p>When counting employees to determine group size, do not count temporary, seasonal working less than 120 days per year, leased, contracted or retired employees or former employees on continuation coverage.</p>
</div>
