//buttons

.button {
  padding: 2px 10px;
  background-color: $modern-plum;
  color: #fff;
  border: 1px solid $modern-plum;
  font-size: 1.21428571em; //17px
  font-family: $omnes-med;
  @include border-radius(5px);
  + .button {
    margin-left: 10px;
  }
  &.column { //if a button is a grid column, ignore column width
    width: auto !important;
  }
  &.hidden {
    + .button {
      margin-left: 0;
    }
  }
  &:active, &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
  }
  &:hover {
    cursor: pointer;
  }
  &.disabled, &.ui-state-disabled {
    @include opacity(0.31);
    &:hover {
      cursor: default;
      background-color: $modern-plum;
      border-color: $modern-plum;
    }
  }
  &.secondary, &.auxiliary {
    background-color: $white;
    color: $modern-plum;
    border-color: $button-box-border;
    &:active, &:hover {
      color: #fff;
      background-color: $modern-plum-light;
      border-color: $modern-plum-light;
    }
    &.disabled, &.ui-state-disabled { //disabled overrides
      &:hover {
        background-color: $white;
        border-color: $button-box-border;
        color: $modern-plum;
      }
    }
  }
  &.auxiliary {
    font-size: 0.92857142em; //13px
  }
  &.wait-button {
    background-color: #fff;
    border-color: $sec-btn-disabled-border;
    color: $modern-plum-light;
  }
}

.container-buttons {
  text-align: center;
}
