//Mixins, extends, placeholders
%label-with {
  vertical-align: top !important;
}

.input-with-button {
  overflow: hidden;
  position: relative;
  @include border-radius(4px);
  .input-button {
    background-color: $modern-plum;
    border: 1px solid $modern-plum;
    bottom: 0;
    color: $white;
    font-family: $omnes-med;
    margin: auto;
    position: absolute;
    right: 0;
    @include border-radius(0 4px 4px 0);
    @include rem(font-size, 1em);
    @include rem(padding, 0 0 2px);
    @include rem(width, 38px);
    &.disabled {
      /* opacity: 0.31;*/
    }
    &.secondary {
      background-color: $white;
      color: $modern-plum;
    }
  }
}

textarea {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
}

input, textarea, keygen, select, button {
  font-family: $omnes-reg !important;
}

// ::placeholder, 
// :placeholder,
// ::-moz-placeholder,
// ::-ms-input-placeholder,
// ::-webkit-input-placeholder {
//   color: $button-box-border !important;
// }

input[type="text"],
input[type="number"],
textarea,
input[type="password"],
input[type="email"],
input.type-ahead-input,
.input-aligned {
  border: 1px solid $button-box-border;
  //box-sizing: content-box;
  overflow: hidden;
  //height: 21px;
  padding: 6px 4px 6px 0.5em;
  //@include rem(padding, 10px 5px);
  //  width: 100%;
  @include border-radius(4px);
  &.full-width {
    width: 100%;
  }
}

.input-aligned {
  border: 1px solid transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.input-shared-row {
  width: 48.5%;
  + .input-shared-row,
  + .none + .input-shared-row,
  + .hide + .input-shared-row {
    margin-left: 3%;
    width: 48.5%;
  }
}

input.type-ahead-input { 
  &.column {
    width: 100% !important;
  }
}

input[type="submit"] {
  &:hover {
    cursor: pointer;
  }
}

input[type="password"] {
  letter-spacing: 1px; //increase spacing for obfuscation chars
}

.no-svg { //hacky way to target IE8 here
  input[type="password"] {
    font-family: Helvetica, Arial, sans-serif !important;
  }
}

/*hack to override chrome (webkit) autofill background coloring*/

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  &.ui-state-error {
    -webkit-box-shadow: 0 0 0 1000px $lighter_yellow inset;
    &.ui-focused {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
  }
}

input:focus {
  outline-style: none;
  outline-width: 0;
}

.input-styled.ng-dirty.ng-invalid {
  /* background: $lighter-yellow; */
}

.input-styled.ng-dirty.ng-invalid.active {
  background: $white;
}

.presubmit-error {
  background: $lighter-yellow;
  //width: 348px;
  min-height: 30px;
  padding: 0 0 0 2.8em;
  font-family: $omnes-med;
  background-image: url('../assets/images/icon_alert.png');
  background-repeat: no-repeat;
  background-position: 7px center;
}
/*=====================================================

  validation feedback

  ======================================================*/

input {
  &[class*="ng-invalid"] {
    background-color: $lighter-yellow;
    &.ng-pristine {
      background-color: $white;
      &.ui-select-search,
      &.input-show-invalid-untouched {
        background-color: $lighter-yellow !important;
      }
    }
    .ng-invalid.form-empty & {
      background-color: $white;
      
    }
    .ng-invalid.form-empty.form-empty-validate & {
      background-color: $lighter-yellow;
    }
  }
}

.input-pct,
.output-pct,
.input-num {
  width: 4em;
}

.ng-invalid.form-not-empty {
  input.ng-pristine { 
    &[class*="ng-invalid"] {
      background-color: $lighter-yellow;
    }
  }
}


form.ng-invalid-required,
ng-form.ng-invalid-required {

}

.errors {
  padding-left: 14px;
}

.presubmit-error {
  display: none;
  padding: 0.5em 2.8em 0.5em;
  white-space: nowrap;
  overflow: hidden;
}

.show-invalid {
  .presubmit-error {
    &.invalid {
      display: block !important;
    }
  }
  &.hide-errors {
    .presubmit-error {
      &.invalid {
        display: none !important;
      }
    }
  }
}

.show-required {
  .presubmit-error {
    &.required {
      display: block !important;
    }
  }
  &.hide-errors {
    .presubmit-error {
      &.required {
        display: none !important;
      }
    }
  }
  &.show-invalid,
  &.show-mismatch {
    .presubmit-error {
      &.required {
        display: none !important;
      }
    }
  }
}

.show-mismatch {
  .presubmit-error {
    &.mismatch {
      display: block !important;
    }
  }
  &.hide-errors {
    .presubmit-error {
      &.mismatch {
        display: none !important;
      }
    }
  }
}

.show-invalid,
.show-required,
.show-mismatch {
  input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
    background-color: $lighter-yellow;
  }
  &.hide-errors {
    input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
      background-color: white;
    }
  }
}
/*=====================================================

  form field layout

  ======================================================*/

.form-styled {
  box-sizing: content-box;
  border-spacing: 0 10px;
  display: block;
  //display: table;
  //left: -14px; //subtract border-spacing left
  position: relative;
  //width: calc(100% + 28px); //account for border-spacing left and right
  width: 100%;
  .container-input {
    &.with-label-after{
      input,
      .output-label-after {
        display: inline-block;
        max-width: 48%;
        vertical-align: middle;
      }
      .output-label-after {
        margin-left: 3%;
        font-family: $omnes-med;
      }
    }
  }
  .errors {
    padding-left: 0;
  }
  .form-container {
    display: inline-table;
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
    &.form-container-two-thirds {
      width: 66.66%;
    }
    &.no-width {
      width: auto;
    }
  }
  .form-column {
    display: table-column;
    @each $i in $grid-columns {
      &.cols-#{$i} {
        width: (100% / #{$i});
      }
    }
  }
  .form-row {
    display: table-row;
    line-height: 1.2em;
    vertical-align: middle;
    width: 100%;
    label,
    .output-label {
      font-family: $omnes-med;
      padding-right: 14px;
      text-align: right;
      //white-space: nowrap;
      &.reverse {
        padding-left: 14px;
        padding-right: 0;
        text-align: left;
      }
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    textarea,
    input[type="password"],
    .output-value,
    .input-styled {
      //width: inherit;
      box-sizing: border-box;
    }
    .input-styled {
      + .input-styled,
      + .button {
        margin-left: 14px;
      }
    }
    .container-output-pairs {
      display: inline-block;
      .output-label {
        padding-right: 0;
        &:after {
          content: ": ";
        }
      }
      + .container-output-pairs {
        margin-left: 14px;
      }
    }
    .output-value {
      &.input-aligned {
        display: inline-block;
        overflow: visible;
      }
      + .button {
        margin-left: 14px;
      }
    }
    input[type="submit"].button {
      float: left;
      margin-top: 0.5em;
    }
    input::-webkit-input-placeholder {
      color: $placeholder;
      letter-spacing: normal;
    }
    input:-moz-placeholder {
      color: $placeholder;
      letter-spacing: normal;
    }
    input::-moz-placeholder {
      color: $placeholder;
      letter-spacing: normal;
    }
    input:-ms-input-placeholder {
      color: $placeholder;
      letter-spacing: normal;
    }
    > * {
      display: table-cell;
      float: none;
      vertical-align: middle;
      overflow: hidden;
      &.button {
        display: inline-block;
      }
    }
    &.form-row-thirds {
      > label,
      > *:first-child {
        width: 33.33%;
      }
    }
  }
  .section-fieldset {
    border-bottom: 1px solid $modern-aqua;
    margin-bottom: 10px;
  }
  + * {
    margin-top: 20px;
  }

  /************
  * Fieldsets *
  ************/

  fieldset {
    margin-top: 10px;
    width: initial;
    &:first-child {
      margin-top: 0;
    }
    + * {
      margin-top: 20px;
    }
  }

  legend {
    background-color: $modern-aqua;
    box-sizing: border-box;
    color: white;;
    font-family: $omnes-med;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
  }
}

.ui-inputfield {
  margin: 0;
  padding: 4px;
  outline: medium none;
  height: 21px;
  box-shadow: none;
  /* remove red glow on invalid fields in FF */
}

input.ui-inputtext {
  height: 21px;
}

.label.required,
.required-message {
  color: #493b31
}

label.required,
.output-label.required,
.label.required,
.required-message {
  &:after {
    content: " *";
    color: #a50069;
    /* margin-right: -10px; */
    font-family: $omnes-med;
    font-size: 18px;
  }
}

.label-table {
  @extend %label-with;
  position: relative;
  top: 10px; //adjust according to final borderless table layout
}

.label-list {
  @extend %label-with;
}

.form-columns {
  width: 100%;
  list-style: none;
  box-sizing: border-box;
  border-spacing: 0 14px;
  display: table;
  table-layout: fixed;
  //deal with space between form elements using plain padding, setting border-spacing L/R to 0 to avoid having the whole row offset right
  .row {
    display: table-row;
    min-height: 31px; //calculated height of the styled inputs
  }
  .column {
    //position: relative;
    display: table-cell;
    vertical-align: middle;
    &.errors {
      position: relative;
    }
  }
  &.label-above {
    .column {
      vertical-align: bottom;
    }
  }
  &.reports-view-filters {
    .two-col {
      .col1 {
        width: 79.5%;
        label {
          width: 18%;
          display: inline-block;
          text-align: left;
          vertical-align: middle;
          margin: 0;
        }
        .inner-date {
          width: auto;
          @include rem(margin, 0 .7em);
        }
        div {
          /* display: inline-block; */
        }
      }
      .col2 {
        width: 19.5%;
      }
      .pre-match {
        min-width: 35%;
      }
      .pre-list,
      .report-list {
        width: 260px;
      }
      .date-from-menu {
        width: 112px;
      }
      .date-to-menu {
        width: 111px;
      }
      .date-row-container {
        width: 425px;
      }
    }
  }
  &.reports-management-filters {
    table-layout: auto;
    .four-col {
      label {
        display: block;
      }
      .select2-container {
        width: 100%;
      }
      .col1 {
        width: 40%;
        padding-right: 0.8em;
      }
      .col2,
      .col3 {
        width: 20%;
        padding-right: 0.8em;
      }
      .col4 {
        width: 20%;
        .button-submit {
          height: 31px;
          vertical-align: middle;
        }
      }
    }
  }
}

.form-key {
  display: inline-block;
}


