<!-- The plan calculated costs table -->
<ng-form novalidate class="form-styled form-table grow-down" name="$ctrl.planratesform" ng-show="$ctrl.plans.minPlansSelected && $ctrl.showTable">
  <table class="table-sga-rates">
    <caption>Calculated costs</caption>
    <colgroup>
      <col class="col-sga-rates col-header">
      <col class="col-sga-rates col-ee col-etype">
      <col class="col-sga-rates col-es col-etype">
      <col class="col-sga-rates col-ef col-etype">
      <col class="col-sga-rates col-ec col-etype">
      <col class="col-sga-rates col-total">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="rateType in $ctrl.rateTypes track by $index">{{rateType.displayName}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="$ctrl.showDirectOption">
        <th>Subtotal billed Moda Health</th>
        <td ng-repeat="rateType in $ctrl.rateTypes track by $index">
          <span ng-if="!$ctrl.appCtrl.employeeOnlyApp">
            {{($ctrl.medSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency}}
          </span>
          <span ng-if="$ctrl.appCtrl.employeeOnlyApp">
            {{$ctrl.empOnly($ctrl.rateNamesArr[$index], (($ctrl.medSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency))}}
          </span>
        </td>
        <td>{{($ctrl.medSubtotal + $ctrl.denSubtotal) | currency}}</td>
      </tr>
      <tr>
        <th>Total</th>
        <td ng-repeat="rateType in $ctrl.rateTypes track by $index">
          <span ng-if="!$ctrl.appCtrl.employeeOnlyApp">
            <span ng-if="$ctrl.showDirectOption">{{($ctrl.medSubtotalsArr[$index] + $ctrl.doSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency}}</span>
            <span ng-if="!$ctrl.showDirectOption">{{($ctrl.medSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency}}</span>
          </span>
          <span ng-if="$ctrl.appCtrl.employeeOnlyApp">
            <span ng-if="$ctrl.showDirectOption">
              {{$ctrl.empOnly($ctrl.rateNamesArr[$index], (($ctrl.medSubtotalsArr[$index] + $ctrl.doSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency))}}
            </span>
            <span ng-if="!$ctrl.showDirectOption">
              {{$ctrl.empOnly($ctrl.rateNamesArr[$index], (($ctrl.medSubtotalsArr[$index] + $ctrl.denSubtotalsArr[$index]) | currency))}}
            </span>
          </span>
        </td>
        <td>
          <span ng-if="$ctrl.showDirectOption">{{($ctrl.medSubtotal + $ctrl.doSubtotal + $ctrl.denSubtotal) | currency}}</span>
          <span ng-if="!$ctrl.showDirectOption">{{($ctrl.medSubtotal + $ctrl.denSubtotal) | currency}}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <!-- Medical plans and riders -->
      <tr ng-repeat="plan in $ctrl.plans.medical.selected | orderBy: 'planName' track by $index" ng-if="$ctrl.plans.medical.selected.length > 0">
        <td colspan="6" class="table-cell-no-border">
          <table>
            <colgroup>
              <col class="col-sga-rates col-header">
              <col class="col-sga-rates col-ee col-etype">
              <col class="col-sga-rates col-es col-etype">
              <col class="col-sga-rates col-ef col-etype">
              <col class="col-sga-rates col-ec col-etype">
              <col class="col-sga-rates col-total">
            </colgroup>
            <thead>
              <tr ng-if="$ctrl.multiMed && $index === 0 || $ctrl.singleMed" class="table-heading-subhead table-heading-plantype">
                <th colspan="6">Medical
                  <span ng-if="$ctrl.singleMed"> - {{$ctrl.plans.medical.selected[0].planName}}</span>
                  <div ng-if="$ctrl.multiMed">(combined plan enrollments must equal total medical enrollments)</div>
                </th>
              </tr>
              <tr ng-if="$ctrl.multiMed && $index === 0" class="table-heading-subhead table-heading-enrollments" ng-init="medEnrollments = $ctrl.appdata.groupPlan.categories.medical.enrollments">
                <th>Total enrollments <span class="tooltip tooltip-right tooltip-standard" ng-tipso="$ctrl.tipsoConfig.mustMatchTotals"></span></th>
                <th ng-repeat="(key, value) in medEnrollments track by $index" ng-bind="value"></th>
                <th ng-bind="$ctrl.appCtrl.medTotalEnrollment"></th>
              </tr>
              <tr ng-if="$ctrl.multiMed" class="table-heading-subhead table-heading-planname">
                <th colspan="6">Plan #{{$index + 1}} - {{plan.planName}}</th>
              </tr>
            </thead>
            <tfoot>
              <tr ng-init="medEnrollments = $ctrl.appdata.groupPlan.categories.medical.enrollments">
                <th><span ng-if="$ctrl.singleMed">Subtotal medical</span><span ng-if="$ctrl.multiMed">Plan subtotal</span></th>
                <td ng-if="$ctrl.multiMed" ng-repeat="rateType in plan.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{(rateType.value + $ctrl.combinedMedRiderRates[$index].$value) * (rateType.count ? rateType.count : 0) | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{$ctrl.empOnly(rateType.name, ((rateType.value + $ctrl.combinedMedRiderRates[$index].$value) * (rateType.count ? rateType.count : 0) | currency))}}
                  </span>
                  <input bind-input-val name="medsubtotal_{{$index}}" ng-show="false" ng-model="plan.subtotalArr[$index]" ng-value="(rateType.value + $ctrl.combinedMedRiderRates[$index].$value) * (rateType.count ? rateType.count : 0) | number:2">
                </td>
                <td ng-if="$ctrl.singleMed" ng-repeat="(enrollKey, enrollVal) in medEnrollments track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{(plan.rates[$index].value + $ctrl.combinedMedRiderRates[$index].$value) * enrollVal | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{$ctrl.empOnly($ctrl.rateNamesArr[$index], ((plan.rates[$index].value + $ctrl.combinedMedRiderRates[$index].$value) * enrollVal | currency))}}
                  </span>
                  <input bind-input-val name="medsubtotal_{{$index}}" ng-show="false" ng-model="plan.subtotalArr[$index]" ng-value="plan.subtotalArr[$index] = (plan.rates[$index].value + $ctrl.combinedMedRiderRates[$index].$value) * enrollVal | number:2">
                </td>
                <td ng-if="$ctrl.multiMed">
                  {{plan.medPlanSubtotal | currency}}
                </td>
                <td ng-if="$ctrl.singleMed">
                  {{$ctrl.medSubtotal | currency}}
                </td>
              </tr>
            </tfoot>
            <tbody>
              <!--Enrollments, multiple-->
              <tr ng-if="$ctrl.multiMed" ng-init="medEnrollments = $ctrl.appdata.groupPlan.categories.medical.enrollments">
                <th>Enrollments <span class="tooltip tooltip-right tooltip-standard" ng-tipso="$ctrl.tipsoConfig.noEnrollments" ng-if="plan.planTotalCount === 0"></span></th>
                <th ng-repeat="rateType in plan.rates track by $index">
                  <input type="text" class="input-show-invalid-untouched" med-enrollment-validator="{rateTypeTotalTest: rateType.matchesTotalCount, planTotalTest: plan.planTotalCount > 0}" ng-model="rateType.count" ng-change="$ctrl.updateAndValidateMedEnrollments(plan)" ng-disabled="!$ctrl.appCtrl.hasMedDependents && $ctrl.notEmp(rateType.name)">
                </th>
                <th class="input-styled">{{plan.planTotalCount}}</th>
              </tr>
              <!--Enrollments, single-->
              <tr ng-if="$ctrl.singleMed" ng-init="medEnrollments = $ctrl.appdata.groupPlan.categories.medical.enrollments">
                <th>Enrollments</th>
                <th ng-repeat="(key, value) in medEnrollments track by $index" ng-bind="value"></th>
                <th ng-bind="$ctrl.plans.medTotalEnrollment"></th>
              </tr>
              <!--Rates-->
              <tr>
                <th>Rates</th>
                <td ng-repeat="rateType in plan.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{rateType.value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{$ctrl.empOnly(rateType.name, (rateType.value | currency))}}
                  </span>
                </td>
                <td>&nbsp;</td>
              </tr>
              <!--Riders-->
              <tr ng-repeat="medRider in $ctrl.plans.medical.riders.selected | orderBy : 'planType'">
                <th ng-bind="medRider.planName"></th>
                <td ng-repeat="rateType in medRider.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{rateType.value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{$ctrl.empOnly(rateType.name, (rateType.value | currency))}}
                  </span>
                </td>
                <td>&nbsp;</td>
              </tr>
              <!--Combined costs-->
              <tr ng-if="$ctrl.plans.medical.riders.selected.length > 0">
                <th>Combined cost</th>
                <td ng-repeat="(rateIdx, rateType) in plan.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
                    {{rateType.value + $ctrl.combinedMedRiderRates[$index].$value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical"> 
                    {{$ctrl.empOnly(rateType.name, (rateType.value + $ctrl.combinedMedRiderRates[$index].$value | currency))}}
                  </span>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr ng-if="$ctrl.multiMed">
        <th>Subtotal medical</th>
        <td ng-repeat="rateType in $ctrl.appdata.groupPlan.categories.medical.enrollments track by $index">
          <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
            {{$ctrl.medSubtotalsArr[$index] | currency}}
          </span>
          <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.medical">
            {{$ctrl.empOnly($ctrl.rateNamesArr[$index], ($ctrl.medSubtotalsArr[$index] | currency))}}
          </span>
        </td>
        <td>{{$ctrl.medSubtotal | currency}}</td>
      </tr>

      <!-- Dental plans and riders, Direct Option dental -->
      <tr ng-repeat="plan in $ctrl.plans.dental.selected track by plan.uniqueId" ng-show="$ctrl.plans.dental.selected.length > 0">
        <td colspan="6" class="table-cell-no-border">
          <table>
            <colgroup>
              <col class="col-sga-rates col-header">
              <col class="col-sga-rates col-ee col-etype">
              <col class="col-sga-rates col-es col-etype">
              <col class="col-sga-rates col-ef col-etype">
              <col class="col-sga-rates col-ec col-etype">
              <col class="col-sga-rates col-total">
            </colgroup>
            <thead>
              <tr>
                <th colspan="6" class="table-heading-subhead table-heading-plantype">Dental - {{plan.planName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-init="denEnrollments = $ctrl.appdata.groupPlan.categories.dental.enrollments">
                <th>Enrollments</th>
                <th ng-if="!$ctrl.showDirectOption" ng-repeat="(key, value) in denEnrollments track by $index" ng-bind="value"></th>
                <th ng-if="$ctrl.showDirectOption" ng-repeat="(key, value) in denEnrollments track by $index">
                  {{value - $ctrl.plans.dental.directOption.selected[0].rates[$index].count}}
                </th>
                <th ng-bind="$ctrl.denTotalEnrollment"></th>
              </tr>
              <tr>
                <th>Rates</th>
                <td ng-repeat="rateType in plan.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{rateType.value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{$ctrl.empOnly(rateType.name, (rateType.value | currency))}}
                  </span>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr ng-if="$ctrl.denRider">
                <th ng-bind="$ctrl.denRider.planName"></th>
                <td ng-repeat="rateType in $ctrl.denRider.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{rateType.value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{$ctrl.empOnly(rateType.name, (rateType.value | currency))}}
                  </span>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr ng-if="$ctrl.denRider">
                <th>Combined cost</th>
                <td ng-repeat="(rateIdx, rateType) in plan.rates track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{rateType.value + $ctrl.denRider.rates[$index].value | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{$ctrl.empOnly(rateType.name, (rateType.value + $ctrl.denRider.rates[$index].value | currency))}}
                  </span>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr ng-init="denEnrollments = $ctrl.appdata.groupPlan.categories.dental.enrollments">
                <th>Subtotal dental</th>
                <td ng-if="$ctrl.denRider" ng-repeat="(enrollKey, enrollVal) in denEnrollments track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{(plan.rates[$index].value + $ctrl.denRider.rates[$index].value) * (enrollVal - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{$ctrl.empOnly(plan.rates[$index].name, ((plan.rates[$index].value + $ctrl.denRider.rates[$index].value) * (enrollVal - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | currency))}}
                  </span>
                  <input bind-input-val name="densubtotal_{{$index}}" ng-show="false" ng-model="plan.subtotalArr[$index]" ng-value="(plan.rates[$index].value + $ctrl.denRider.rates[$index].value) * (enrollVal - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | number:2">
                </td>
                <td ng-if="!$ctrl.denRider" ng-repeat="(enrollKey, enrollVal) in denEnrollments track by $index">
                  <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{plan.rates[$index].value * (enrollVal  - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | currency}}
                  </span>
                  <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                    {{$ctrl.empOnly(plan.rates[$index].name, (plan.rates[$index].value * (enrollVal  - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | currency))}}
                  </span>
                  <input bind-input-val name="densubtotal_{{$index}}" ng-show="false" ng-model="plan.subtotalArr[$index]" ng-value="plan.rates[$index].value * (enrollVal  - $ctrl.plans.dental.directOption.selected[0].rates[$index].count) | number:2">
                </td>
                <td>
                  {{$ctrl.denSubtotal | currency}}
                </td>
              </tr>
              <!-- Direct option dental -->
              <tr ng-if="$ctrl.showDirectOption" ng-repeat="plan in $ctrl.plans.dental.directOption.selected track by uniqueId"> <!-- should be one plan only -->
                <td colspan="6" class="table-cell-no-border">
                  <table>
                    <colgroup>
                      <col class="col-sga-rates col-header">
                      <col class="col-sga-rates col-ee col-etype">
                      <col class="col-sga-rates col-es col-etype">
                      <col class="col-sga-rates col-ef col-etype">
                      <col class="col-sga-rates col-ec col-etype">
                      <col class="col-sga-rates col-total">
                    </colgroup>
                    <thead>
                      <tr>
                        <th colspan="6" class="table-heading-subhead table-heading-plantype">DirectOption dental - {{plan.planName}}</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Subtotal DirectOption</th>
                        <td ng-repeat="rateType in plan.rates track by $index">
                          <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                            {{rateType.value * rateType.count | currency}}
                          </span>
                          <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                            {{$ctrl.empOnly(rateType.name, (rateType.value * rateType.count | currency))}}
                          </span>
                          <input bind-input-val name="dosubtotal_{{$index}}" ng-show="false" ng-model="plan.subtotalArr[$index]" ng-value="plan.subtotalArr[$index] = rateType.value * rateType.count | number:2">
                        </td>
                        <td>
                          {{$ctrl.doSubtotal | currency}}
                        </td>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>
                        <th>Enrollments</th>
                        <th ng-repeat="rateType in plan.rates track by $index">
                          <h-number name="doenrollment_{{rateType.name}}" value="rateType.count" min="0" max="{{rateType.maxCount}}" step="1" change="$ctrl.onChangeDirectOptionEnrollment()"></h-number>
                        </th>
                        <th class="input-styled"><span>{{$ctrl.doTotalEnrollment ? $ctrl.doTotalEnrollment : 0}}</span></th>
                      </tr>
                      <tr>
                        <th>Rates</th>
                        <td ng-repeat="rateType in plan.rates track by $index">
                          <span ng-if="!$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                            {{rateType.value | currency}}
                          </span>
                          <span ng-if="$ctrl.appCtrl.appdata.employeeOnlyPlan.dental">
                            {{$ctrl.empOnly(rateType.name, (rateType.value | currency))}}
                          </span>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</ng-form>