#nav-main { //the container

}
.home .nav-main {
  display: none; //don't show the nav on splitter/home page
}
.nav-main { //the nav itself
  font-size: 1.14285714em; //16/14 - not handled by our modular scale
  @include rem(margin-bottom, 20px);
  .nav-items {
    text-align: right;
  }
  .nav-item {
    background-color: $menu-default;
    font-family: $omnes-med;
    padding-bottom: 0;
    @include border-radius(0 5px 5px 0);
    + .nav-item {
      margin-top: 1px;
    }
    &:hover, &:active, &.current {
      background-color: $menu-current;
      cursor: pointer;
    }
    &.single-role {
      &.menu-home {
        display: none !important;
      }
    }
    &.disabled {
      background-color: $menu-default;
      & > .nav-item-link {
        color: #a49d98;
        &:hover {
          cursor: default;
        }
      }
    }
  }
  .nav-item-link {
    color: $warm-brown;
    display: block;
    height: 100%;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    @include rem(padding, 12px 10px 12px 20px);
  }
}

