<div class="dialog-contents">
  <h2 class="dialog-heading" ng-bind="ngDialogData.heading"></h2>
  <div ng-if="ngDialogData.text.length > 0" class="dialog-text" bind-html-compile="ngDialogData.text"></div>
  <div class="container-buttons">
    <button ng-if="ngDialogData.cancelButton.length === 0" class="button button-submit" ng-click="closeThisDialog('confirm')" ng-bind="ngDialogData.confirmButton"></button>
    <button ng-if="ngDialogData.cancelButton.length > 0" class="button button-submit" ng-click="confirm('logout')" ng-bind="ngDialogData.confirmButton"></button>
    <button ng-if="ngDialogData.cancelButton.length > 0" class="button button-submit secondary" ng-click="closeThisDialog('cancel')" ng-bind="ngDialogData.cancelButton"></button>
  </div>
</div>
