//font shorthand

$omnes-reg: omnes_ods_regularregular, Verdana, sans-serif;
$omnes-med: omnes_ods_mediumregular, Verdana, sans-serif;
$omnes-semi: omnes_ods_semiregular, Verdana, sans-serif;
$omnes-ital: omnes_ods_regularitalic, Verdana, sans-serif;
$omnes-med-ital: omnes_ods_mediumitalic, Verdana, sans-serif;
$omnes-semi-ital: omnes_ods_semiitalic, Verdana, sans-serif;
$omnes-bold: omnes_ods_boldregular, Verdana, sans-serif;
$omnes-bold-ital: omnes_ods_bolditalic, Verdana, sans-serif;