<nav class="nav nav-main" ng-cloak>
  <ul class="nav-items" set-current-nav>
    <li class="nav-item {{::item.pathName}}" ng-disabled="!navmain.isloggedin" ng-class="{'menu-home': item.addClass.home, 'disabled': !navmain.isloggedin}" ng-repeat="item in navmain.menuNavMain | orderBy: 'num' ">
      <a ng-if="navmain.isloggedin" class="nav-item-link" ng-link="['{{::item.name}}']">{{::item.title}}</a>
      <span ng-if="!navmain.isloggedin" class="nav-item-link">{{::item.title}}</span>
    </li>
  </ul>
</nav>


